.advantages {
  padding: 112px 0 80px;
  min-height: 562px;

  background-color: $default-bg--skyblue;
  background-image: url("../img/desktop/advantages__bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/desktop/advantages__bg@2x.jpg");
  }

  h2 {
    text-align: center;
    margin-bottom: 47px;
  }

  &__list {
    margin: 0 0 0 -3.333%;
    padding: 0;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0 0 3.333% 3.333%;
    padding: 83px 30px 25px;
    max-width: 30%;
    width: 100%;
    min-height: 241px;

    background-color: $lightgray;

    &::before {
      position: absolute;
      content: "";
      left: 30px;
    }

    &--big-boat::before {
      width: 27px;
      height: 32px;
      top: 30px;

      background-image: url("../img/svg/boat__big.svg");
    }

    &--checked::before {
      width: 38px;
      height: 21px;
      top: 35px;

      background-image: url("../img/svg/checked.svg");
    }

    &--small-boat::before {
      width: 42px;
      height: 15px;
      top: 38px;

      background-image: url("../img/svg/boat__small.svg");
    }

    h3 {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.4;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 1.4;
    }
  }

  @media (max-width: $tablet--max) {
    padding: 91px 0 71px;
    min-height: 588px;

    background-image: url("../img/tablet/advantages__bg@1x.jpg");

    @include retina {
      background-image: url("../img/tablet/advantages__bg@2x.jpg");
    }

    h2 {
      font-size: 26px;
      margin-bottom: 48px;
    }

    &__list {
      margin: 0 0 0 -4.25%;
    }

    &__item {
      margin: 0 0 4.247% 4.247%;
      padding: 72px 18px 18px 19px;
      max-width: 29.08%;
      width: 100%;
      min-height: 310px;

      background-color: $lightgray;

      &::before {
        position: absolute;
        content: "";
        left: 18px;
      }

      &--big-boat::before {
        width: 21px;
        height: 26px;
        top: 26px;

        background-image: url("../img/svg/boat__big.svg");
        background-size: cover;
      }

      &--checked::before {
        width: 33px;
        height: 19px;
        top: 28px;

        background-image: url("../img/svg/checked.svg");
      }

      &--small-boat::before {
        width: 38px;
        height: 13px;
        top: 31px;

        background-image: url("../img/svg/boat__small.svg");
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.43;
        margin-bottom: 9px;
      }

      p {
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }

  @media (max-width: $mobile--max) {
    padding: 58px 0 34px;
    min-height: 588px;

    background-image: url("../img/mobile/advantages__bg@1x.jpg");

    @include retina {
      background-image: url("../img/mobile/advantages__bg@2x.jpg");
    }

    h2 {
      font-size: 24px;
      margin-bottom: 28px;
    }

    &__list {
      margin: 0;
    }

    &__item {
      margin: 0 0 30px;
      padding: 72px 18px 18px 19px;
      max-width: 100%;
      width: 100%;
      min-height: 249px;

      background-color: $lightgray;

      &::before {
        position: absolute;
        content: "";
        left: 18px;
      }

      &--big-boat::before {
        width: 21px;
        height: 26px;
        top: 26px;

        background-image: url("../img/svg/boat__big.svg");
        background-size: cover;
      }

      &--checked::before {
        width: 33px;
        height: 19px;
        top: 28px;

        background-image: url("../img/svg/checked.svg");
      }

      &--small-boat::before {
        width: 38px;
        height: 13px;
        top: 31px;

        background-image: url("../img/svg/boat__small.svg");
      }

      h3 {
        width: 75%;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.43;
        margin-bottom: 9px;
      }

      p {
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }
}
